.profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 30px;
  background-color: rgba(188, 188, 188, 0.6);
  color: #000;
  margin-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .profile-button{
    max-width: 130px;
    margin: 0;
  }
}
