.profile {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background: var(--main-gradient-bg-color);
}

.profile-details{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-buttons{
  border-left: 3px solid #06fb80;
  padding: 20px;
}

.navbar {
  display: flex;
  width: 100%;
  height: 4em;
  background-color: #e9e9e9;
}

.profile-content {
  display: flex;
  gap: 30px;
  padding: 30px;
  height: calc(100vh - 400px);
}

.profile-info-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 33.33%;
  min-width: 300px;
}

@media (max-width: 930px) {
  .profile-content {
    flex-direction: column;
    height: auto;
    min-height: calc(100vh - 400px);
  }
  
  .profile-info-section {
    width: 100%;
    min-width: auto;
  }
}

@media (max-width: 400px) {
  .profile-details{
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
  }

  .profile-buttons{
    display: flex;
    border-left: none;
    justify-content: space-around;
  }
}