.profile {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background: var(--main-gradient-bg-color);
}

.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-buttons {
  border-left: 3px solid #06fb80;
  padding-top: 20px;
  padding-left: 20px;
}

.profile-content {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  height: calc(100vh - 400px);
  justify-content: center;
}

.profile-info-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 33.33%; */
  min-width: 300px;
}

.profile .container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 930px) {
  .profile-content {
    flex-direction: column;
    height: auto;
    min-height: calc(100vh - 400px);
  }

  .profile-info-section {
    width: 100%;
    min-width: auto;
  }
}

@media (max-width: 650px) {
  .profile-info {
    padding: 0 20px;
  }

  .profile-details {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
  }

  .profile-buttons {
    display: flex;
    border-left: none;
    align-items: center;
    justify-content: space-around;
  }
}
