.avatar {
  display: block;
  width: clamp(160px, 25vw, 280px);
  max-width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-top: -80px;
}

@media (max-width: 630px){
  .avatar{
    margin: 0;
  }
}